<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="EmpleadoMapper">
 
 	<resultMap type="empleadoModel" id="empleadoResultMap">
 		<result property="idPersona" column="id_persona"/>
 		<result property="nombrePersona" column="nombre_persona"/>
 		<result property="apePatPersona" column="ape_pat_persona"/>
 		<result property="apeMatPersona" column="ape_mat_persona"/>
 		<result property="emailPersona" column="email_persona"/>
 		<result property="idRol" column="id_rol"/>
 		<result property="idGrupo" column="id_grupo"/>
 	</resultMap>
 	<insert id="create" parameterType="empleadoModel" statementType="CALLABLE">
 		{call usp_tb_empleado_create(#{idPersona, mode=OUT, jdbcType=NUMERIC},#{nombrePersona},#{apePatPersona},#{apeMatPersona},#{emailPersona},#{idRol},#{idGrupo})}
 	</insert>
 	
 	<select id="read" resultMap="empleadoResultMap">
 		{call usp_tb_empleado_read()}
 	</select>
 	
 	<update id="update" parameterType="empleadoModel">
 		{call usp_tb_empleado_update(#{idPersona},#{nombrePersona},#{apePatPersona},#{apeMatPersona},#{emailPersona},#{idRol},#{idGrupo})}
 	</update>
 	
 	<delete id="delete" parameterType="int">
 		{call usp_tb_empleado_delete(#{idPersona})}
 	</delete>
 	
 	<select id="obtain" parameterType="int" resultMap="empleadoResultMap">
 		{call usp_tb_empleado_obtain(#{idPersona})}
 	</select>
 </mapper>