<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="EmpresaMapper">

	<resultMap id="datosEmpresa" type="empresaBean">
        	<id column="id_emp" property="id" jdbcType="INTEGER"/>
        	<result column="razSoc" property="razonSocial" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="listadoEmpresa" resultType="model.Empresa">
        SELECT id_emp as id,
        	   razSoc as razonSocial
        FROM tb_empresa
     </select>

     
        
        <insert id="registrar" parameterType="empresa">
        	insert into tb_empresa(id_emp, razSoc)
        	values(#{id},#{razonSocial});
        </insert>
        <delete id="eliminar" parameterType="int">
        	DELETE FROM tb_empresa
        	WHERE id_emp=#{id}
        </delete>
        
        <update id="modificar" parameterType="empresa">
        	UPDATE tb_empresa 
        	set razSoc=#{razonSocial}
        	WHERE id_emp=#{id}
        </update>
        
        <select id="ConsultaEmpresa" parameterType="empresa">
        SELECT id_emp as id,
        	   razSoc as razonSocial
        FROM tb_empresa
        WHERE id_emp=#{id}
     </select>
        
        
</mapper>