<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="UsuarioMapper">
 
	<resultMap type="usuarioModel" id="usuarioResultMap">
 		<id property="idUsuario" column="is_usuario"/>
 		<result property="nombreUsuario" column="nombre_usuario"/>
 		<result property="claveUsuario" column="clave_usuario"/>
 	</resultMap>
 
 	<insert id="create" parameterType="usuarioModel" statementType="CALLABLE">
 		{call usp_tb_usuario_create(#{idUsuario},#{nombreUsuario},#{claveUsuario})}
 	</insert>
 
 	<select id="read" resultMap="usuarioResultMap">
        {call usp_tb_usuario_read()}
    </select>	
    
   	<update id="update" parameterType="usuarioModel">
   		{call usp_tb_usuario_update(#{idUsuario},#{nombreUsuario},#{claveUsuario})}	
   	</update>
   	
   	<delete id="delete" parameterType="int">
   		{call usp_tb_usuario_delete(#{idUsuario})}
   	</delete>
    
    <select id="obtain" parameterType="int" resultMap="usuarioResultMap">
    	{call usp_tb_usuario_obtain(#{idUsuario})}
    </select>
</mapper>    